@page "/page/detalle/{idHabitacion:int}"
@attribute [Authorize(Roles = "Administrador,Recepcionista,Gerencia")]
@inject IHabitacionServicio _habitacionServicio
@inject IRecepcionServicio _recepcionServicio
@inject IDialogService DialogService
@inject SweetAlertService Swal
@inject NavigationManager navManager

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">

    <MudText Typo="Typo.h5" GutterBottom="true">Detalle</MudText>

    <MudPaper Elevation="3" Class="pa-4" Width="100%">

        <!-- HABITACION -->
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader Class="pb-0">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Habitación</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" lg="6" md="6" sm="6">
                                <MudTextField Value="_habitacionDTO.Numero"
                                              Label="Numero"
                                              ReadOnly="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12" lg="6" md="6" sm="6">
                                <MudTextField Value="_habitacionDTO.IdCategoriaNavigation?.Descripcion"
                                              Label="Categoria"
                                              ReadOnly="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12" lg="6" md="6" sm="6">
                                <MudTextField Value="_habitacionDTO.Detalle"
                                              Label="Detalle"
                                              ReadOnly="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12" lg="6" md="6" sm="6">
                                <MudTextField Value="_habitacionDTO.IdPisoNavigation?.Descripcion"
                                              Label="Piso"
                                              ReadOnly="true"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>

        <MudGrid>

            <!-- CLIENTE -->
            <MudItem xs="12" lg="6" md="6" sm="6">
                <MudCard>
                    <MudCardHeader Class="pb-0">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Cliente</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12">
                                <MudGrid>
                                    <MudItem xs="6">
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Info"
                                                   FullWidth="true"
                                                   Size="Size.Small"
                                                   OnClick="Buscar">
                                            Buscar
                                        </MudButton>
                                    </MudItem>

                                    <MudItem xs="6">
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Success"
                                                   FullWidth="true"
                                                   Size="Size.Small"
                                                   OnClick="CrearCliente">
                                            Crear
                                        </MudButton>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.TipoDocumento"
                                              Label="Tipo Documento"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.Documento"
                                              Label="Documento"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.NombreCompleto"
                                              Label="Nombre Completo"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.Correo"
                                              Label="Correo"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.Telefono"
                                              Label="telefono"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_clienteDTO.Direccion"
                                              Label="Direccion"
                                              Disabled="@(!_crearCliente)"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

            <!-- RECEPCION -->
            <MudItem xs="12" lg="6" md="6" sm="6">
                <MudCard>
                    <MudCardHeader Class="pb-0">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Recepción</MudText>
                        </CardHeaderContent>

                        <CardHeaderActions>
                            <MudButton Variant="Variant.Filled"
                                       StartIcon="@Icons.Material.Filled.Save"
                                       OnClick="Registrar"
                                       Color="Color.Primary"
                                       Size="Size.Small">
                                Registrar
                            </MudButton>
                        </CardHeaderActions>
                    </MudCardHeader>

                    <MudCardContent>
                        <MudGrid>

                            <MudItem xs="12">
                                <MudDatePicker Label="Fecha Entrada"
                                               PickerVariant="PickerVariant.Dialog"
                                               Margin="Margin.Dense"
                                               DisableToolbar="true"
                                               Variant="Variant.Outlined"
                                               DateFormat="dd/MM/yyyy"
                                               Date="fechaEntrada"
                                               ReadOnly="true"
                                               Disabled="true" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudDatePicker Label="Fecha Salida"
                                               PickerVariant="PickerVariant.Dialog"
                                               Margin="Margin.Dense"
                                               DisableToolbar="true"
                                               Variant="Variant.Outlined"
                                               DateFormat="dd/MM/yyyy"
                                               Date="fechaSalida"
                                               DateChanged="OnFechaSalidaChanged"
                                               MinDate="@fechaEntrada" />
                            </MudItem>

                            <MudItem xs="12">
                                @* <MudNumericField T="decimal?"
                                                 Value="precioFinal"
                                                 ValueChanged="(v)=>precioFinal=v"
                                                 Label="Precio (por noches)"
                                                 Variant="Variant.Outlined"
                                                 ReadOnly="true" 
                                                 Margin="Margin.Dense" /> *@
                                   <MudNumericField T="decimal?"
                                                 @bind-Value="precioPorNoche"
                                                 Immediate="true"
                                                 Label="Precio (por noche)"
                                                 Variant="Variant.Outlined"
                                                 Margin="Margin.Dense"
                                                 Min="0"
                                                 @oninput="(e) => RecalcularPrecio()" />
                            </MudItem>

                            <MudItem xs="12">
                                <MudNumericField T="decimal?"
                                                 @bind-Value="_recepcionDTO.Adelanto"
                                                 Label="Adelanto"
                                                 Variant="Variant.Outlined"
                                                 Margin="Margin.Dense"
                                                 Min="0" />
                            </MudItem>
                            <MudItem xs="12">
                                <MudNumericField T="decimal?"
                                                 @bind-Value="_recepcionDTO.PrecioRestante"
                                                 Label="Valor cancelado (Check-in)"
                                                 Variant="Variant.Outlined"
                                                 Margin="Margin.Dense"
                                                 Min="0"
                                                 Immediate="true" />
                            </MudItem>
                            <!-- ✅ Botón Cobrar dentro de MudItem -->
                            <MudItem xs="12">
                                <MudButton Color="Color.Success"
                                           Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Payments"
                                           FullWidth="true"
                                           OnClick="CobrarConMetodo">
                                    Seleccionar método de pago
                                </MudButton>
                            </MudItem>

                            <!-- ✅ Mostrar elegido -->
                            <MudItem xs="12">
                                <MudText Typo="Typo.body2">
                                    <b>Método:</b> @_recepcionDTO.MetodoPago
                                    @if (!string.IsNullOrWhiteSpace(_recepcionDTO.NotaMetodoPago))
                                    {
                                        <span> | <b>Nota:</b> @_recepcionDTO.NotaMetodoPago</span>
                                    }
                                </MudText>
                            </MudItem>

                            <MudItem xs="12">
                                <MudTextField @bind-Value="_recepcionDTO.Observacion"
                                              Label="Observación"
                                              Variant="Variant.Outlined"
                                              Margin="Margin.Dense" />
                            </MudItem>

                           

                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

        </MudGrid>

    </MudPaper>
</MudContainer>

@code {

    [Parameter] public int idHabitacion { get; set; }

    private ClienteDTO _clienteDTO = new();
    private RecepcionDTO _recepcionDTO = new();

    private bool _crearCliente = false;
    private decimal? precioPorNoche = 0m;   // ✅ editable
    private decimal? precioFinal = 0m;      // ✅ total (noches * precioPorNoche)
    //private decimal? precioFinal = 0;

    private DateTime fechaEntrada = DateTime.Today;
    private DateTime fechaSalida = DateTime.Today.AddDays(1);

    private HabitacionDTO _habitacionDTO = new()
    {
        IdEstadoHabitacionNavigation = new EstadoHabitacionDTO(),
        IdCategoriaNavigation = new CategoriaDTO(),
        IdPisoNavigation = new PisoDTO()
    };

    protected override async Task OnParametersSetAsync()
    {
        var response = await _habitacionServicio.Obtener(idHabitacion);

        if (response.status && response.value != null)
        {
            _habitacionDTO = response.value;

            fechaEntrada = DateTime.Today;
            fechaSalida = DateTime.Today.AddDays(1);

            // ✅ por defecto toma el precio base, pero luego el usuario puede editarlo
            precioPorNoche = _habitacionDTO.Precio ?? 0m;

            RecalcularPrecio();
        }
        else
        {
            await Swal.FireAsync("Error", "No se pudo cargar la habitación.", "error");
        }
    }

    private Task CrearCliente()
    {
        _crearCliente = true;
        _clienteDTO = new ClienteDTO();
        return Task.CompletedTask;
    }

    private async Task Buscar()
    {
        DialogOptions options = new() { Position = DialogPosition.TopCenter, NoHeader = true };
        var dialogo = DialogService.Show<MdClientes>("", options);
        var resultado = await dialogo.Result;

        if (!resultado.Canceled && resultado.Data is ClienteDTO cliente)
        {
            _crearCliente = false;
            _clienteDTO = cliente;
        }
    }

    private void OnFechaSalidaChanged(DateTime? nuevaSalida)
    {
        if (nuevaSalida == null) return;

        fechaSalida = nuevaSalida.Value.Date;

        if (fechaSalida < fechaEntrada)
            fechaSalida = fechaEntrada;

        RecalcularPrecio();
    }

    // private void RecalcularPrecio()
    // {
    //     if (_habitacionDTO.Precio == null)
    //     {
    //         precioFinal = 0;
    //         return;
    //     }

    //     var noches = (fechaSalida.Date - fechaEntrada.Date).Days;
    //     if (noches <= 0) noches = 1;

    //     precioFinal = _habitacionDTO.Precio.Value * noches;
    // }
    private void RecalcularPrecio()
    {
        if (_habitacionDTO.Precio == null)
        {
            precioFinal = 0;
            return;
        }

        var noches = (fechaSalida.Date - fechaEntrada.Date).Days;
        if (noches <= 0) noches = 1;

        var pNoche = precioPorNoche ?? 0m;
        if (pNoche < 0) pNoche = 0;

        precioFinal = pNoche * noches;

        // ✅ Auto-calcular lo que se debe cobrar HOY (check-in)
        var total = precioFinal ?? 0m;
        var adelanto = _recepcionDTO.Adelanto ?? 0m;
        if (adelanto < 0) adelanto = 0;

        var pendiente = total - adelanto;
        if (pendiente < 0) pendiente = 0;

        // si aún no han escrito nada, o si quedó incoherente, lo seteo
        if (_recepcionDTO.PrecioRestante == null || _recepcionDTO.PrecioRestante < 0)
            _recepcionDTO.PrecioRestante = pendiente;
    }

    // ✅ Usa el MISMO modal que en Registrar (MdMetodoPago)
    private async Task CobrarConMetodo()
    {
        var dialog = DialogService.Show<MdMetodoPago>("Método de pago");
        var result = await dialog.Result;

        if (result.Canceled)
            return;

        if (result.Data is not MdMetodoPago.MetodoPagoResult data)
        {
            await Swal.FireAsync("Error", "No se pudo leer el método de pago.", "error");
            return;
        }

        _recepcionDTO.MetodoPago = data.MetodoPago;
        _recepcionDTO.NotaMetodoPago = data.NotaMetodoPago;
    }

     private Task OnPrecioPorNocheChanged(decimal? v)
    {
        precioPorNoche = v ?? 0m;
        if (precioPorNoche < 0) precioPorNoche = 0m;

        RecalcularPrecio();
        return Task.CompletedTask;
    }
    // private async Task Registrar()
    // {
    //     // 1) Cliente
    //     if (_clienteDTO == null || string.IsNullOrWhiteSpace(_clienteDTO.NombreCompleto))
    //     {
    //         await Swal.FireAsync("Falta cliente", "Debe seleccionar o crear un cliente.", "warning");
    //         return;
    //     }

    //     // 2) Fechas
    //     if (fechaSalida < fechaEntrada)
    //     {
    //         await Swal.FireAsync("Fechas inválidas", "La fecha de salida no puede ser menor a la fecha de entrada.", "warning");
    //         return;
    //     }

    //     // 3) Recalcular precio
    //     RecalcularPrecio();

    //     var total = precioFinal ?? 0m;
    //     if (total <= 0m)
    //     {
    //         await Swal.FireAsync("Error", "El precio inicial no puede ser 0.", "warning");
    //         return;
    //     }

    //     var adelanto = _recepcionDTO.Adelanto ?? 0m;
    //     if (adelanto < 0m) adelanto = 0m;

    //     // ✅ Adelanto no puede superar el total
    //     if (adelanto > total)
    //     {
    //         await Swal.FireAsync("Error", "El adelanto no puede ser mayor al total.", "warning");
    //         return;
    //     }

    //     var pendiente = total - adelanto; // lo que se debe cobrar en check-in

    //     // 4) Si tienes el campo editable "Valor cancelado (Check-in)" (PrecioRestante):
    //     var canceladoCheckIn = _recepcionDTO.PrecioRestante ?? pendiente;
    //     if (canceladoCheckIn < 0m) canceladoCheckIn = 0m;

    //     // ✅ No puede ser mayor al pendiente
    //     if (canceladoCheckIn > pendiente)
    //     {
    //         await Swal.FireAsync("Error", $"El valor cancelado no puede ser mayor a {pendiente:N2}.", "warning");
    //         return;
    //     }

    //     // ✅ Regla negocio: en check-in se cobra TODO el pendiente
    //     if (canceladoCheckIn != pendiente)
    //     {
    //         await Swal.FireAsync("Error", $"En check-in debe cobrarse el pendiente completo: {pendiente:N2}.", "warning");
    //         return;
    //     }

    //     // ✅ Método de pago obligatorio
    //     if (string.IsNullOrWhiteSpace(_recepcionDTO.MetodoPago))
    //     {
    //         await Swal.FireAsync("Falta método de pago", "Selecciona el método de pago.", "warning");
    //         return;
    //     }

    //     // 5) Asignar relaciones (usa IDs, no Navigation)
        

    //     _recepcionDTO.IdClienteNavigation = _clienteDTO;
    //     _recepcionDTO.IdHabitacion = _habitacionDTO.IdHabitacion;
    //     if (_clienteDTO == null || _clienteDTO.IdCliente <= 0)
    //     {
    //         await Swal.FireAsync("Falta cliente", "Selecciona un cliente válido (IdCliente).", "warning");
    //         return;
    //     }
    //     _recepcionDTO.FechaEntrada = fechaEntrada;
    //     _recepcionDTO.FechaSalida = fechaSalida;

    //     // 6) Reglas de negocio
    //     _recepcionDTO.PrecioInicial = total;
    //     _recepcionDTO.Adelanto = adelanto;

    //     // ✅ Lo cobrado en check-in (pendiente)
    //     _recepcionDTO.PrecioRestante = pendiente;

    //     // ✅ Penalidad inicia en 0
    //     _recepcionDTO.CostoPenalidad = 0m;

    //     // ✅ Total pagado al crear (sin penalidad)
    //     _recepcionDTO.TotalPagado = total;

    //     // 7) Guardar
    //     //await Swal.FireAsync("DEBUG", $"IdCliente seleccionado: {_clienteDTO?.IdCliente}", "info");
    //     var response = await _recepcionServicio.Crear(_recepcionDTO);

    //     if (response.status)
    //     {


    //         await Swal.FireAsync("Éxito", "La recepción fue registrada correctamente.", "success");
    //         navManager.NavigateTo("/page/recepcion");
    //     }
    //     else
    //     {
    //         await Swal.FireAsync("No se pudo registrar", response.msg, "error");
    //     }
    // }


    private async Task Registrar()
    {
        // 1) Cliente (validación según modo)
        if (_clienteDTO == null)
        {
            await Swal.FireAsync("Falta cliente", "Debe seleccionar o crear un cliente.", "warning");
            return;
        }

        if (_crearCliente)
        {
            // creando: exige datos mínimos
            if (string.IsNullOrWhiteSpace(_clienteDTO.NombreCompleto) ||
                string.IsNullOrWhiteSpace(_clienteDTO.Documento))
            {
                await Swal.FireAsync("Falta cliente", "Completa los datos del cliente.", "warning");
                return;
            }
        }
        else
        {
            // seleccionado: exige IdCliente válido
            if (_clienteDTO.IdCliente <= 0)
            {
                await Swal.FireAsync("Falta cliente", "Selecciona un cliente existente.", "warning");
                return;
            }
        }

        // 2) Fechas
        if (fechaSalida < fechaEntrada)
        {
            await Swal.FireAsync("Fechas inválidas", "La fecha de salida no puede ser menor a la fecha de entrada.", "warning");
            return;
        }

        // 3) Recalcular precio
        RecalcularPrecio();

        var total = precioFinal ?? 0m;
        if (total <= 0m)
        {
            await Swal.FireAsync("Error", "El precio inicial no puede ser 0.", "warning");
            return;
        }

        var adelanto = _recepcionDTO.Adelanto ?? 0m;
        if (adelanto < 0m) adelanto = 0m;

        if (adelanto > total)
        {
            await Swal.FireAsync("Error", "El adelanto no puede ser mayor al total.", "warning");
            return;
        }

        var pendiente = total - adelanto;

        var canceladoCheckIn = _recepcionDTO.PrecioRestante ?? pendiente;
        if (canceladoCheckIn < 0m) canceladoCheckIn = 0m;

        if (canceladoCheckIn > pendiente)
        {
            await Swal.FireAsync("Error", $"El valor cancelado no puede ser mayor a {pendiente:N2}.", "warning");
            return;
        }

        if (canceladoCheckIn != pendiente)
        {
            await Swal.FireAsync("Error", $"En check-in debe cobrarse el pendiente completo: {pendiente:N2}.", "warning");
            return;
        }

        if (string.IsNullOrWhiteSpace(_recepcionDTO.MetodoPago))
        {
            await Swal.FireAsync("Falta método de pago", "Selecciona el método de pago.", "warning");
            return;
        }

        // 4) Asignar relaciones (✅ según modo)
        _recepcionDTO.IdHabitacion = _habitacionDTO.IdHabitacion;
        _recepcionDTO.FechaEntrada = fechaEntrada;
        _recepcionDTO.FechaSalida = fechaSalida;

        if (_crearCliente)
        {
            // ✅ cliente nuevo: se manda navigation para que el backend lo cree
            _recepcionDTO.IdCliente = null;
            _recepcionDTO.IdClienteNavigation = _clienteDTO;
        }
        else
        {
            // ✅ cliente existente: se manda solo IdCliente (más limpio)
            _recepcionDTO.IdCliente = _clienteDTO.IdCliente;
            _recepcionDTO.IdClienteNavigation = null;
        }

        // 5) Valores
        _recepcionDTO.PrecioInicial = total;
        _recepcionDTO.Adelanto = adelanto;
        _recepcionDTO.PrecioRestante = pendiente;
        _recepcionDTO.CostoPenalidad = 0m;
        _recepcionDTO.TotalPagado = total;

        // 6) Guardar
        var response = await _recepcionServicio.Crear(_recepcionDTO);

        if (response.status)
        {
            await Swal.FireAsync("Éxito", "La recepción fue registrada correctamente.", "success");
            navManager.NavigateTo("/page/recepcion");
        }
        else
        {
            await Swal.FireAsync("No se pudo registrar", response.msg, "error");
        }
    }
}